<section class="ftco-counter ftco-intro" id="section-counter">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-1 align-items-stretch">
          <div class="text">
            <span class="text-light">Served Over</span>
            <strong class="number text-light" data-number="{{ site.served_count }}">0</strong>
            <span class="text-light">People in Sri Lanka</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-2 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Donate Money</h3>
            <p>{{ site.donate_message }}</p>
            <p><a href="/donate" class="btn btn-white px-3 py-2 mt-2">Donate Now</a></p>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
            <h3 class="mb-4">Contribute</h3>
            <p>{{ site.contribute_message }}</p>
            <p><a href="/contact" class="btn btn-white px-3 py-2 mt-2">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>